
<header class="container" style="padding-top:20px;margin-top:25px;" id="hdr">
             <h1 ><center>Simple CRUD Operation in JS </center></h1>
             <hr>
            </header>
             
        <div class="container" style="padding:5px;;margin-top:25px;border: peru;border-style: solid;">
            
            <a href="/form"  class="btn btn-block btn-lg " style="background-color:tomato" ><center>ADD STUDENT</center></a><br>
            <a href="/display" class="btn-success btn-block btn-lg"><center>DISPLAY STUDENT </center></a><br>
            <a href="/update"  class="btn-info btn-block btn-lg"><center>UPDATE STUDENT</center></a><br>
            <a href="/delete" class="btn-warning btn-block btn-lg" ><center>DELETE STUDENT</center></a><br>
            
        </div>